{% extends 'layout.html'%}

{% block title %}
	Phishing Website Detection
{% endblock title %}

{% block body %}
		<div class="jumbotron text-center">
	<center>
		<h3>PhishingWebsiteDetection</h3>
		<p class=lead>
		There are number of users who purchase products online and make payment through various websites.
		There are multiple websites who ask user to provide sensitive data such as username, password or credit card details etc. often for malicious reasons.
		This type of websites is known as phishing website. In order to detect and predict phishing website, we proposed a system that is based on using classification Data mining algorithm.
		We implemented classification algorithm and techniques to extract the phishing data sets criteria to classify their legitimacy.
		The phishing website can be detected based on some important characteristics like URL and Domain Identity , Web traffic and some other attributes
		</p>
	</center>
	</div>
{% endblock body %}
		